<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.gdc.apps.web.servlets.Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GetTable</servlet-name>
        <servlet-class>com.gdc.apps.web.servlets.GetTable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTable</servlet-name>
        <url-pattern>/get_table</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetTotalCount</servlet-name>
        <servlet-class>com.gdc.apps.web.servlets.GetTotalCount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTotalCount</servlet-name>
        <url-pattern>/get_total</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetSortedByPrice</servlet-name>
        <servlet-class>com.gdc.apps.web.servlets.GetSortedByPrice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSortedByPrice</servlet-name>
        <url-pattern>/get_by_price</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetSortedByRating</servlet-name>
        <servlet-class>com.gdc.apps.web.servlets.GetSortedByRating</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSortedByRating</servlet-name>
        <url-pattern>/get_by_rating</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetSortedByCategory</servlet-name>
        <servlet-class>com.gdc.apps.web.servlets.GetSortedByCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSortedByCategory</servlet-name>
        <url-pattern>/get_by_category</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetSortedByName</servlet-name>
        <servlet-class>com.gdc.apps.web.servlets.GetSortedByName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSortedByName</servlet-name>
        <url-pattern>/get_by_name</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Create</servlet-name>
        <servlet-class>com.gdc.apps.web.servlets.Create</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Create</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>com.gdc.apps.web.servlets.Delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>com.gdc.apps.web.servlets.Update</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

</web-app>